.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  [data-product-info],
  [data-product-specs] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  button {
    grid-column: span 2;
    width: fit-content;
    margin: 0 auto;
  }

  fieldset:has([data-valid-alert="false"]),
  label:has([data-valid-alert="false"]):not(fieldset label) {
    outline: 5px solid red;
    outline-offset: 0.25rem;
    border-radius: 0.25rem;
  }

  [data-visually-hidden="true"] {
    visibility: hidden;
  }

  [data-visually-hidden="false"] {
    visibility: visible;
  }

  [data-point="descriptionText"] {
    width: 80ch;
    height: 20ch;
  }

  [data-brand-box] {
    padding: 0 1rem 1rem 1rem;

    legend {
      padding: 0 0.5rem;
    }

    [data-brand-instructions] {
      text-align: center;
      font-size: 0.9rem;
      margin-bottom: 0.1rem;
    }

    [data-brand-inputs] {
      display: flex;
      gap: 1rem;

      select {
        min-width: 25ch;
      }

      input {
        min-width: 25ch;
      }

      input::placeholder {
        opacity: 0.25;
      }
    }
  }
}
