.container {
  background-color: transparent;

  [data-pdp-column] {
    display: grid;
    grid-template-columns: 60% 1fr;

    [data-image-section] {
      [data-image] {
        max-height: 60vh;
        object-fit: contain;
        margin: 0 auto;
      }
    }

    [data-details-section] {
      display: flex;
      flex-direction: column;
      align-items: center;

      [data-price] {
        font-size: 1.25rem;
      }

      [data-info-box] {
        font-size: 1.15rem;
        width: 100%;
        margin-top: 1rem;
        padding: 0.5rem;
        border: 1px solid var(--light-20);

        > * {
          margin-bottom: 0.5rem;
        }
      }

      [data-contact-seller-button] {
        margin-top: 1rem;
        background-color: green;

        &[data-sold="true"] {
          color: black;
          background-color: var(--light-85);
        }
      }
    }
  }

  [data-description] {
    p:empty::after {
      content: "-";
      visibility: hidden;
    }
  }
}
