.container {
  position: relative;
  background-color: gray;

  [data-wrapper] {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;

    [data-logo] {
      width: 10rem;
      height: auto;
      max-height: 4.5rem;
      object-fit: contain;
      margin: auto 0;
    }
  }
}
